<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <script>
            alert("Page Loaded");
        </script>
    </head>
    <body>
        <h1>Home Page with EJS</h1>

        <h3><%=name%></h3>
        </body>

        </html>
        
